/* .game {
  display: flex;
}

.card {
  background-color: lightblue;
  width: 110%;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.scoreboard {
  height: 150px;
  width: 200px;
}

.game {
  display: flex;
  gap: 20px;
}

.score-heading {
  text-align: center;
} */

.play-game {
  width: 100%;
}

.cards {
  width: 50%;
}
